/* © Design by UXADEEL */

position: absolute;
width: 200px;
height: 24px;
left: 29.07px;
top: 30.63px;

font-family: '  ';
font-style: normal;
font-weight: 500;
font-size: 18.7324px;
line-height: 24px;
/* identical to box height */

color: #000000;

